*{
    margin:0px;
    padding:0px;
}

nav img {
  height: 50px;
  width: auto;
}
nav .navbar-text{
  font-size: 150%;
}

#white{
  color: white;
}
#white a {
  color: #353b41;
}

body.container{
    background: url(../img/spacebg.jpg) no-repeat center;
    background-size: 100% 100%;
    background-attachment: fixed;
    height:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

label, h4:first-child, h1{
    color:white;
}
body, html {
    height: 100%;
}
body {
    padding-top: 80px;
}
.error{
    color:red;
}
form#post{
    padding: 10px;
}
    form#post label{
        color: black;
    }
div#collapseExample{
    margin-bottom: 15px;
}
div#col-md-2 {
  /*display: inline-block;*/
  width: 190px;
  height: 580px;
  padding: 20px;
  background: rgba(138, 137, 137, 0.62);
  text-align:center;
}

#col-md-2 h4{
  margin-bottom: 30px;
}

#col-md-2 h5{
  margin-bottom: 30px;
}

img.vote{
    width: 1em;
    height: 1em;
}
div.card{
    padding: 10px;
}
div.card-block{
    margin-bottom: 10px;
}
span.greenvote, span.redvote{
    display: inline-block;
    width: 2em;
    text-align: center;
}
span.greenvote{
    color: green;
}
span.redvote{
    color: red;
}
h6.votes{
    margin-top: 1em;
}


#delete{
    margin-bottom:20px;
}
.delete{
    display:none;
}
i.fa-trash-o{
    font-size:20px;
}