*{
    margin:0px;
    padding:0px;
}
body.container{
    background-image: url("../img/the_wall2.jpg");
    height:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

label, h3, h1{
    color:white;
}
body, html {
    height: 100%;
}
body {
    padding-top: 70px;
}
.error{
    color:red;
}
form#post{
    padding: 10px;
}
    form#post label{
        color: black;
    }
div#collapseExample{
    margin-bottom: 15px;
}
img.vote{
    width: 1em;
    height: 1em;
}
div.card{
    padding: 10px;
}
div.card-block{
    margin-bottom: 10px;
}
span.greenvote, span.redvote{
    display: inline-block;
    width: 2em;
    text-align: center;
}
span.greenvote{
    color: green;
}
span.redvote{
    color: red;
}
h6.votes{
    margin-top: 1em;
}