<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Reddit Login</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='CSS/index.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static',filename='JS/index.js') }}"></script>
    </head>
    <body>
      <div id="header">
        <img id="title" src="../static/img/Clone.png">
      </div>
        <div id='login-page'>

          <div class='form'>

            <form action='/login' method='POST' class='login-form'>
                <h1>Welcome Back</h1>
                            {% with errors = get_flashed_messages(category_filter=["Error:LoginError"]) %}
                            {% include "error.html" %}
                            {% endwith %}
                        <input type="text" name="username" class="form-control" placeholder='username'>
                        <input type="password" name="password" class="form-control" placeholder='password'>
                    <Button type="submit" class="btn btn-primary">Login</Button>
                    <p class="message">Not registered? <a href="#">Create an account</a></p>
            </form>

            <form action='/register' method='POST' class='register-form'>
              <h1>Create an account</h1>
                          {% with errors = get_flashed_messages(category_filter=["Error:Username"]) %}
                          {% include "error.html" %}
                          {% endwith %}
                      <input type="text" name="username" class="form-control" placeholder='username'>
                          {% with errors = get_flashed_messages(category_filter=["Error:Email"]) %}
                          {% include "error.html" %}
                          {% endwith %}
                      <input type="email" name="email" class="form-control" placeholder='email'>
                          {% with errors = get_flashed_messages(category_filter=["Error:Password"]) %}
                          {% include "error.html" %}
                          {% endwith %}
                      <input type="password" name="password" class="form-control" placeholder='password'>
                          {% with errors = get_flashed_messages(category_filter=["Error:PasswordConfirmation"]) %}
                          {% include "error.html" %}
                          {% endwith %}
                      <input type="password" name="cpassword" class="form-control" placeholder='confirm password'>
                  <Button type="submit" class="btn btn-primary">Register</Button>
                  <p class="message">Already registered? <a href="#">Sign In</a></p>
            </form>

          </div>

        </div>
    </body>
</html>
