<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='CSS/style.css') }}">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
        crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Reddit Clone</title>
    <style>
        ul > li {
    margin-left: 10px;
}
    </style>
</head>

<body>
    {% include "navbar.html" %}
    <div class='row justify-content-center'>
        <div class='col-md-9'>
                <div class="card">
                        <div class="card-block">
                            <h4 class="card-title">{{ post['title'] }}</h4>
                            {% if '.gif' in post['text'] or '.jpg' in post['text'] or '.png' in post['text'] %}
                            <p class="card-text"><img src="{{ post['text'] }}" alt=" "></p>
                            {% else %}
                            <p>{{ post['text'] }}</p>
                            {% endif %}
                        </div>
                        <div class="card-block">
                            <b>Submitted by {{ post['op'] }} at {{ post['posted'] }}</b>
                        </div>
                        <div class="card-block">
                            <a href="/{{ sub['url'] }}/{{ post['post_id'] }}/upvote" class="card-link">
                                <img class="vote" src="{{ url_for('static', filename='img/upvote.png')}}" alt="upvote">
                            </a>
                            {% if post['net_votes'] >= 0 %}
                            <span class='greenvote'>{% else %}
                                <span class='redvote'>{% endif %}{{ post['net_votes'] }}</span>
                                <a href="/{{ sub['url'] }}/{{ post['post_id'] }}/downvote" class="card-link">
                                    <img class="vote" src="{{ url_for('static', filename='img/downvote.png')}}" alt="downvote">
                                </a>
                                {% if post['user_id'] == session['id'] or mod['moderator'] == 1 %}
                                <a href="/delete/{{ sub['url'] }}/{{ post['post_id'] }}" class="card-link">Delete</a>{% endif %} {% if post['user_id'] == session['id'] %}
                                <a href="/newEdit/{{ sub['url'] }}/{{ post['post_id'] }}" class="card-link">Edit</a>{% endif %}
                                {% if member %}<a class="card-link" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                    Add new comment
                                </a>{% endif %}
                        </div>
                    </div>
                    <div class="collapse" id="collapseExample">
                        <div class="card card-block">
                            <form action="/{{ sub['url'] }}/{{ post['post_id'] }}/addcomment" method='POST' id="post">
                                <div class='form-group'>
                                    {% with errors = get_flashed_messages(category_filter=["Error:Comment"]) %} {% include "error.html" %} {% endwith %}
                                    <label for="text">Comment:</label>
                                    <textarea name="text" class="form-control"></textarea>
                                </div>
                                <Button type="submit" class="btn btn-primary">Submit Comment</Button>
                            </form>
                        </div>
                    </div>
            {% for comment in comment_list recursive %}
            <li class="list-group-item">
            <p>{{ comment['content'] }}</p>
            <small class="text-muted">Submitted {{ comment['comment_time'] }} by {{ comment['commenter'] }}</small>
            
           <h6 class="commentnest">
           <a href="/{{ sub['url'] }}/{{ post['post_id'] }}/{{ comment['com_id'] }}/upvote" class="card-link">
               <img class="vote" src="{{ url_for('static', filename='img/upvote.png')}}" alt="upvote">
           </a>
           {% if comment['net_votes'] >= 0 %}
           <span class='greenvote'>{{ comment['net_votes'] }}</span>
           {% else %}
           <span class='redvote'>{{ comment['net_votes'] }}</span>
           {% endif %}
           <a href="/{{ sub['url'] }}/{{ post['post_id'] }}/{{ comment['com_id'] }}/downvote" class="card-link">
               <img class="vote" src="{{ url_for('static', filename='img/downvote.png')}}" alt="downvote">
           </a>
           {% set replylink = 'collapse' ~ comment['com_id'] %}
           <a class="card-link" data-toggle="collapse" href="#{{replylink}}" aria-expanded="false" aria-controls="{{replylink}}">
               Reply
           </a>
        </h6>
           <div class="collapse" id="{{replylink}}">
               <form action="/{{ sub['url'] }}/{{ post['post_id'] }}/{{ comment['com_id'] }}/reply" method='POST'>
                   <div class='form-group'>
                       {% with errors = get_flashed_messages(category_filter=["Error:Reply"]) %} {% include "error.html" %} {% endwith %}
                       <textarea name="text" class="form-control"></textarea>
                   </div>
                   <Button type="submit" class="btn btn-primary">Post Reply</Button>
               </form>
           </div>
        
            {% if comment.children %}
                <ul class="list-group">{{ loop(comment.children) }}</ul>                 
            {% endif %}
        </li>
        {% endfor %}
    
        </div>

            <div class='col-md-3'>
                <h4><a href="/{{ sub['url'] }}">{{ sub['url'] }}</a></h4>
                <h5>{{ sub['num_subs'] }} Subscriber(s) <i class="fa fa-group"></i></h5>
                <h4>Community since {{ sub['created'] }}</h4>
                <p>{{ sub['description'] }}</p>
                {% if not member %}
                <a href="/{{ sub['url'] }}/subscribe">
                    <button type="button" class="btn btn-success">Subscribe</button>
                </a>
                {% else %}
                <h4>Member since {{ info['since'] }}</h4>
                <a href="/{{ sub['url'] }}/unsubscribe">
                    <button type="button" class="btn btn-danger">Unsubscribe</button>
                </a>
                {% endif %}
            </div>
    </div>
</body>

</html>