<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='CSS/style.css') }}">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
        crossorigin="anonymous"></script>
    <title>Reddit Clone</title>
</head>

<body class='container'>
    {% include "navbar.html" %}
    <div class='row justify-content-center'>
        <div class='col-md-10'>
            <h3>Top Posts</h3>
            <p>
                <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Add new post
                </a>
            </p>
            <div class="collapse" id="collapseExample">
                <div class="card card-block">
                    <form action="/{{ sub['url'] }}/addpost" method='POST' id="post">
                        <div class='form-group'>
                            {% with errors = get_flashed_messages(category_filter=["Error:Post"]) %} {% include "error.html" %} {% endwith %}
                            <label for="title">Post Title:</label>
                            <input type="text" name="title" class="form-control">
                        </div>
                        <div class='form-group'>
                            {% with errors = get_flashed_messages(category_filter=["Error:Post"]) %} {% include "error.html" %} {% endwith %}
                            <label for="text">Post Content:</label>
                            <textarea name="text" class="form-control"></textarea>
                        </div>
                        <Button type="submit" class="btn btn-primary">Submit Post</Button>
                    </form>
                </div>
            </div>
            <div class="list-group">
                {% if posts %} {% for post in posts %}
                <a href="/{{ sub['url'] }}/{{ post['id'] }}" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between inblock">
                        <h5 class="mb-1">{{ post['title'] }}</h5>
                    </div>
                    <small class="text-muted">Submitted {{ post['posted'] }} by {{ post['user'] }}</small>
                    {% if post['net_votes'] >= 0 %}
                    <h6 class="votes greenvote"><img class="vote" src="{{ url_for('static', filename='img/upvote.png')}}" alt="upvote"> {{ post['net_votes'] }}</h6>
                    {% else %}
                    <h6 class="votes redvote"><img class="vote" src="{{ url_for('static', filename='img/downvote.png')}}" alt="upvote"> {{ post['net_votes'] }}</h6>
                    {% endif %}
                </a>
                {% endfor %} {% endif %}
            </div>
        </div>

        <div class='col-md-2'>
            <h3>{{ sub['url'] }}</h3>
            <h4>{{ sub['num_subs'] }} Subscriber(s)</h4>
            <h4>Community since {{ sub['created'] }}</h4>
            <p>{{ sub['description'] }}</p>
            {% if not member %}
            <a href="/{{ sub['url'] }}/subscribe">
                <button type="button" class="btn btn-success">Subscribe</button>
            </a>
            {% else %}
            <h4>Member since {{ info['since'] }}</h4>
            <a href="/{{ sub['url'] }}/unsubscribe">
                <button type="button" class="btn btn-danger">Unsubscribe</button>
            </a>
            {% endif %} {% with errors = get_flashed_messages(category_filter=["Success:Subscription"]) %} {% include "error.html" %}
            {% endwith %}
        </div>
    </div>
</body>

</html>
